[submodule "desktop/.config/awesome/awesome-switcher-preview"]
	path = desktop/.config/awesome/awesome-switcher-preview
	url = ssh://github.com/berlam/awesome-switcher-preview
[submodule "desktop/.config/awesome/awesome-fullscreen"]
	path = desktop/.config/awesome/awesome-fullscreen
	url = ssh://github.com/berlam/awesome-fullscreen
[submodule "desktop/.config/awesome/awesome-remember-geometry"]
	path = desktop/.config/awesome/awesome-remember-geometry
	url = ssh://github.com/berlam/awesome-remember-geometry
[submodule "desktop/.config/awesome/awesome-lenovo"]
	path = desktop/.config/awesome/awesome-lenovo
	url = ssh://github.com/berlam/awesome-lenovo
