[submodule "desktop/.config/awesome/awesome-switcher"]
	path = desktop/.config/awesome/awesome-switcher
	url = https://github.com/berlam/awesome-switcher.git
	branch = master
[submodule "desktop/.config/awesome/awesome-fullscreen"]
	path = desktop/.config/awesome/awesome-fullscreen
	url = https://github.com/berlam/awesome-fullscreen.git
	branch = master
[submodule "desktop/.config/awesome/awesome-remember-geometry"]
	path = desktop/.config/awesome/awesome-remember-geometry
	url = https://github.com/berlam/awesome-remember-geometry.git
	branch = master
[submodule "desktop/.config/awesome/awesome-upower-battery"]
	path = desktop/.config/awesome/awesome-upower-battery
	url = https://github.com/berlam/awesome-upower-battery.git
	branch = master
[submodule "desktop/.config/awesome/lain"]
	path = desktop/.config/awesome/lain
	url = https://github.com/lcpz/lain.git
	branch = master
