# interactive shell only
[ -z "$PS1" ] && return

# set aliases
alias o='xdg-open >/dev/null 2>&1'

alias history='fc -l 1'
alias c='xclip -selection clipboard'
alias l='ls -lah'
alias la='ls -lAh'
alias ll='ls -lh'
alias ls='ls --color=tty'
alias lsa='ls -lah'
alias po=popd
alias pu=pushd
alias rd=rmdir
alias bat='cat /sys/class/power_supply/BAT*/{status,capacity}'
alias gogit='test -z "`git rev-parse --is-inside-work-tree 2> /dev/null`" || stow -R -v -d "`git rev-parse --show-toplevel`" -t "${GOPATH/:*/}/src" "src"'

# stow wrapper
_stow() {
	STOW_METHOD="$1"
	shift
	for REPO in pub prv; do
		REPO_PATH="$HOME/.setup/$REPO"
		for PACKAGE in "$@"; do
			[ -d "$REPO_PATH/$PACKAGE" ] && stow -v "$STOW_METHOD" -d "$REPO_PATH" -t "$HOME" --no-folding "$PACKAGE"
		done
	done
}
restow() {
	_stow -R "$@"
}
unstow() {
	_stow -D "$@"
}

# purge helper
purge() {
	case "$@" in
		apt|dpkg)
			sudo apt-get --purge autoremove
			sudo dpkg --purge `dpkg --get-selections | grep deinstall | cut -f1`
		;;
		git)
			git reset --hard
		;;
		svn)
			if [ $(command -v cygpath >/dev/null) ]; then
				svn status --no-ignore | grep "^[?I]" | sed -r "s/^[?I]\s+//" | xargs --null cygpath -u -p | xargs -I{} rm -rf "{}"
			else
				svn status --no-ignore | grep "^[?I]" | sed -r "s/^[?I]\s+//" | xargs -I{} rm -rf "{}"
			fi
		;;
		docker)
			docker stop `docker ps -a -q`
			docker rm `docker ps -a -q`
			docker rmi `docker images -a -q`
			docker volume rm `docker volume ls -qf dangling=true`
		;;
	esac
}
