"*":
  "atom-beautify":
    general:
      _analyticsUserId: "a5380ad7-f077-46df-bff0-fd18c6db2c66"
      analytics: false
  "base16-syntax":
    scheme: "3024"
  core:
    audioBeep: false
    autoHideMenuBar: true
    disabledPackages: [
      "metrics"
      "jade-autocompile"
    ]
    themes: [
      "atom-dark-ui"
      "base16-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Fantasque Sans Mono"
    fontSize: 17
    invisibles: {}
    lineHeight: 1.3
    preferredLineLength: 140
    zoomFontWhenCtrlScrolling: false
  emmet: {}
  "exception-reporting":
    userId: "cc843cdf-5a16-ca33-ecb2-981c4526442d"
  "go-plus":
    suppressBuiltinAutocompleteProvider: false
  "highlight-selected": {}
  "keyboard-scroll":
    animate: false
    linesToScrollKeydown: 1
    linesToScrollSingle: 1
  linter: {}
  "linter-golinter": {}
  "markdown-preview": {}
  "one-dark-ui": {}
  "open-file-in": {}
  pigments: {}
  "svg-preview": {}
  "todo-show": {}
  welcome:
    showOnStartup: false
".jade.source":
  editor:
    preferredLineLength: 140
".lua.source":
  editor:
    preferredLineLength: 140
".pyjade.source":
  editor:
    preferredLineLength: 140
