'body':
  'ctrl-e': 'pane:show-next-recently-used-item'
  'ctrl-shift-e': 'pane:show-previous-recently-used-item'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab': 'pane:show-previous-item'
'atom-workspace atom-text-editor:not([mini])':
  'ctrl-alt-down': 'editor:duplicate-lines'
  'alt-down': 'editor:move-line-down'
  'alt-up': 'editor:move-line-up'
  'ctrl-d': 'editor:delete-line'
  'alt-shift-down': 'expand-region:shrink'
  'alt-shift-up': 'expand-region:expand'
  'ctrl-up': 'keyboard-scroll:scrollUp'
  'ctrl-down': 'keyboard-scroll:scrollDown'
'.platform-win32 .find-and-replace, .platform-linux .find-and-replace':
  'ctrl-f': 'find-and-replace:toggle-selection-option'
'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'ctrl-alt-shift-D': 'find-and-replace:select-next'
