[Desktop Entry]
Name=File manager
Comment=File manager
Exec=alacritty --working-directory
Icon=
Terminal=false
Type=Application
Categories=ConsoleOnly;Utility;FileManager;System;FileTools;
