[Desktop Entry]
Name=File manager
Comment=File manager
Exec=sakura -d
Icon=
Terminal=false
Type=Application
Categories=ConsoleOnly;Utility;FileManager;System;FileTools;
